<div class="container">
  <div class='page-header'>
    <div class='btn-toolbar float-right'>
      <div class='btn-group'>
        <%= link_to 'Back', admin_members_path, class:"btn btn-info min-width-btn" %>
      </div>
    </div>
  </div>
  <h1>Edit Member</h1>
  <%= render 'form', admin_member: @member, url: admin_member_path(id: @member.id), method: :put %>
</div>
